PORT=6000

PRIME_INCOMING_AUTH_TOKEN=""
PRIME_OUTGOING_AUTH_TOKEN=""

PRIME_API_URL="https://stl-prime-b1.urbanpiper.com"
MONGODB_URI="mongodb://localhost:27017/print-service"
PUBLIC_BASE_URL="https://noncrystallizing-unflaming-ivanna.ngrok-free.dev"

REDIS_DB="2"
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_HOST=127.0.0.1
