PORT=6000
PRIME_INCOMING_AUTH_TOKEN=""
PRIME_OUTGOING_AUTH_TOKEN=""
MONGODB_URI="mongodb://localhost:27017/print-service"
PRIME_API_URL="https://stl-prime-b1.urbanpiper.com"
PUBLIC_BASE_URL="https://noncrystallizing-unflaming-ivanna.ngrok-free.dev"